apiVersion: apps/v1
kind: Deployment
metadata:
  name: cartapp-deployment
  labels:
    app: cartapp
spec:
  replicas: 1

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0

  selector:
    matchLabels:
      app: cartapp

  template:
    metadata:
      labels:
        app: cartapp
    spec:
      terminationGracePeriodSeconds: 30

      containers:
        - name: cartapp
          image: sarkararthur/cartapp:latest
          imagePullPolicy: Always

          ports:
            - containerPort: 8080

          lifecycle:
            preStop:
              exec:
                command: ["sh", "-c", "sleep 10"]

          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
