apiVersion: apps/v1
kind: Deployment
metadata:
  name: cartapp-deployment
  labels:
    app: cartapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cartapp
  template:
    metadata:
      labels:
        app: cartapp
    spec:
      containers:
        - name: cartapp
          image: sarkararthur/cartapp:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080

          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
