name: Deploy to Kubernetes

on:
  workflow_run:
    workflows: ["Java CI with Maven"]
    branches: [main]
    types:
      - completed
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4

      - name: Install kubectl
        uses: azure/setup-kubectl@v4

      - name: Configure kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" | base64 -d > ~/.kube/config

      - name: Deploy to Kubernetes Cluster
        run: |
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml

      - name: Force Restart to Pull New Image
        run: |
          kubectl rollout restart deployment/cartapp-deployment

      - name: Verify Deployment
        run: |
          kubectl rollout status deployment/cartapp-deployment
